<!DOCTYPE html>
<html lang="en">


        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style> table {
        font-family:Georgia, 'Times New Roman', Times, serif;
        border-collapse: collapse;
        width: 80%;
        margin: auto;
        height:auto ;
        padding: 20px;
   
 
      }
      
      tr, td {
        border: 3px solid #ffffff;
        text-align: center;
        padding: 10px;
        font-weight: bold;
      }
      tr, td {
        border: 3px solid #ffffff;
        text-align: center;
        padding: 10px;
      }
      
      tr:nth-child(even) {
        background-color: #fcf2ff;
      }
      a{border: 2px;
      padding: 10px 20px;
      background-color: chocolate;
      color: #ffffff;
      font-family: 'Times New Roman', Times, serif;}
      
      
      </style>
    </head>

    <body>
        <div class="ql"><a href="/staff">BACK</a></div>
        <article>
        <table width="100%" border="1" >
            <tr>
                <td>Full Name</td>
                <td>User Name</td>
                <td>Date Of Birth</td>
                <td>Email</td>
                <td>Education</td>
            </tr>
            {{#each trainee}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{userName}}</td>
                        <td>{{dateofbirth}}</td>
                        <td>{{email}}</td>
                        <td>{{education}}</td>
                        <td><a href="/delete?id={{_id}}">Delete</a></td>
                        <td><a href="/edit?id={{_id}}">Edit</a></td>
                    </tr>
                {{/each}}
        </table>
    </article>
      
            </div>
        </table>
      
    </body>

</html>
