</html>
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> View All Staff</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style>
            a {
                color: white;
                font-size: 14px;
                font-family: 'Times New Roman', Times, serif;
            }

          
            .w3-bar {
                color: white;
            }

            table {
                font-family: 'Times New Roman', Times, serif;
                border-collapse: collapse;
                width: 80%;
                margin: auto;
                height: auto;
                padding: 20px;
                border: 0.25px;


            }



            tr,
            td {
                border: 0.25px solid #bfc6d3;
                text-align: center;
                padding: 10px;
            }

            tr:nth-child(even) {
                background-color: #ffffff;
            }

            table {
                font-family: 'Times New Roman', Times, serif;

                width: 85%;
                margin: auto;
                height: auto;
                padding: 10px;
                border: 0.25px solid #9d9d9d;


            }

            .top-nav {
                background-color: #05197d;
                color: rgb(253, 253, 253);
                font-size: 30px;
                padding: 6px 12px;
                font-weight: bold;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            tr,
            td {
                border: 0.25px solid #e7e4e4;
                text-align: center;
                padding: 10px;

            }

            tr,
            td {
                border: 0.25px solid #c4c4c4;
                text-align: center;
                padding: 10px;
            }

            .ql {
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin-left: 5px;
            }

            .w3-bar {
                color: azure;
                font-family: Georgia, 'Times New Roman', Times, serif;

            }

          
        </style>
    </head>

    <body>
        <header>
            <div class="top-nav">FPT CO.</div>
        </header>
        <div class="w3-bar" style="background-color:#e95c0a;float:right;">
            <a href="/admin/admin" class="w3-bar-item w3-button">Home</a>


        </div>
        <br>
        <br>
        <div class="ql">...then see staff list</div>
        <br>
        <article>
            <table width="100%" border="1">
                <tr style="background-color: rgb(70, 82, 140);color:white">
                    <td>Full Name</td>
                    <td>User Name</td>
                    <td>Age</td>
                    <td>Email</td>
                    <td>Address</td>
                </tr>
                {{#each staff}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{userName}}</td>
                        <td>{{age}}</td>
                        <td>{{email}}</td>
                        <td>{{address}}</td>
                        <td style="width:6%"><a id="delete" href="/admin/delete_staff?userName={{name}}"
                                style="width: 6%; color:rgb(51, 0, 255)">Delete</a></td>
                        <td style="width:6%"><a href="/staff/edit?id={{_id}}"
                                style="width: 6%;color:rgb(51, 0, 255)">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </article>

        </div>
      
    </body>

</html>
maxcdn.bootstrapcdn.com
maxcdn.bootstrapcdn.com