<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Edit Trainee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        a {
            color: white;
        }
    
        .global-footer {
            list-style-type: none;
            overflow: hidden;
            background-color: rgb(27, 26, 26);
            margin-top: 250px;
            bottom: 0;
            width: 100%;
        }
    
        h6 {
            color: #C00F2F;
            margin-left: 100px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
    
        strong {
            font-size: 15px;
            margin-left: 15px;
    
        }
    
        .header-nav {
            font-size: 19px;
            background-color: #ffffff;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #3B5999;
            display: block;
            text-decoration: none;
            overflow: hidden;
            margin-left: 75%;
    
        }
    
        .header-nav a {
            font-size: 19px;
            background-color: #ffffff;
            color: #3B5999;
            padding: 20px 20px 8px 8px;
            text-decoration: none;
    
        }
    
        .header-nav a:hover {
            background-color: #D62A2A;
            color: rgb(255, 255, 255);
            padding: 20px 20px 8px 8px;
        }
    
        .top-nav-index {
            background-color: #002147;
            color: rgb(255, 255, 255);
            font-size: 28px;
            padding: 10px 15px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif
        }
    
        .w3-bar {
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    
        table {
            font-family: 'Times New Roman', Times, serif;
            border-collapse: collapse;
            width: 80%;
            margin: auto;
            height: auto;
            padding: 20px;
            border: 0.25px rgb(187, 194, 194);
    
        }
    
        tr,
        td {
            border: 0.25px solid #99a0ae;
            text-align: center;
            padding: 10px;
        }
    
        tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    
    </head>
    <header>
        <div class="header-nav">
            <a href="/">ADMIN</a>
            <a href="/">STAFF</a>
            <a href="/">TRAINER</a>
            <a href="/">TRAINEE</a>
    
        </div>
    </header>
    
    <body>
        <div class="top-nav-index">FPT CO.</div>
        <div class="w3-bar" style="background-color:#C02F2F;float:right;">
            <a href="/staff/staff" class="w3-bar-item w3-button">Home</a>

            <div class="w3-dropdown-hover">
                <button class="w3-button">Course Category</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewCourseCategory" class="w3-bar-item w3-button">View All Course Category</a>
                    <a href="/staff/addCourseCategory" class="w3-bar-item w3-button">Create A Course Category</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Course</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewCourse" class="w3-bar-item w3-button">View All Course</a>
                    <a href="/staff/addCourse" class="w3-bar-item w3-button">Create New Course</a>
                    <a href="/staff/editCourse" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainee</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewTrainee" class="w3-bar-item w3-button">View All Trainee</a>
                    <a href="/staff/addTrainee" class="w3-bar-item w3-button">Create New Trainee</a>
                    <a href="/staff/editTrainee" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainer</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewTrainer" class="w3-bar-item w3-button">View All Trainer</a>
                    <a href="/staff/addTrainer" class="w3-bar-item w3-button">Create New Trainer</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Staff</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/staff/viewStaff" class="w3-bar-item w3-button">View Staff Account</a>
                    <a href="admin/addStaff" class="w3-bar-item w3-button">Create New Staff</a>
                    <a href="/staff/staffProfile" class="w3-bar-item w3-button">Profile</a>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <h6>Edit Trainee Page</h6>
        <br>
        <form action="staffUpdateTrainee" method="POST" style="font-family: 'Times New Roman', Times, serif; margin-left:30%; ">

            <input type="hidden" name="txtId" value="{{trainee._id}}">

            FullName: <input type="text" name="txtName" value="{{trainee.name}}" style="margin-left: 5.1%;"/><br><br>
            Date Of Birth: <input type="text" name="txtAge" value="{{trainee.dateofbirth}}" style="margin-left: 3%;" />
            <br><br>
            Email: <input type="email" name="txtEmail" value="{{trainee.email}}" style="margin-left: 7.3%;"><br><br>
            Education: <input type="text" name="txtEducation" value="{{trainee.education}}" style="margin-left: 5%;" >
            <br><br>
          
            Address: <input type="text" name="txtAddress" value="{{trainee.address}}" style="margin-left: 6.1%;">
            <br><br>
            <input type="submit" value="Update" style="margin-left: 30%; background-color:red; border:0.25px white; color:white; padding:6px 10px;">

            <a href="/staff/viewTrainee" style="text-decoration: none; background-color: blue; color:white; border: 0.25px white; padding: 9px 12px;">Cancel</a>

        </form>
    </body>

</html>
