<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Profile trainer Page</title>
        <style>.info-st{
        margin-left: 40%;
        font-family: 'Times New Roman', Times, serif;
        

    }
        a {
            color: white;
        }
    
        .global-footer {
            list-style-type: none;
            overflow: hidden;
            background-color: rgb(27, 26, 26);
            margin-top: 250px;
            bottom: 0;
            width: 100%;
        }
    
        h6 {
            color: #C00F2F;
            margin-left: 100px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
    
        strong {
            font-size: 15px;
            margin-left: 15px;
    
        }
    
        .header-nav {
            font-size: 19px;
            background-color: #ffffff;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #3B5999;
            display: block;
            text-decoration: none;
            overflow: hidden;
            margin-left: 75%;
    
        }
    
        .header-nav a {
            font-size: 19px;
            background-color: #ffffff;
            color: #3B5999;
            padding: 20px 20px 8px 8px;
            text-decoration: none;
    
        }
    
        .header-nav a:hover {
            background-color: #D62A2A;
            color: rgb(255, 255, 255);
            padding: 20px 20px 8px 8px;
        }
    
        .top-nav-index {
            background-color: #002147;
            color: rgb(255, 255, 255);
            font-size: 28px;
            padding: 10px 15px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif
        }
    
        .w3-bar {
            color: rgb(255, 255, 255);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
    
        table {
            font-family: 'Times New Roman', Times, serif;
            border-collapse: collapse;
            width: 80%;
            margin: auto;
            height: auto;
            padding: 20px;
            border: 0.25px rgb(187, 194, 194);
    
        }
    
        tr,
        td {
            border: 0.25px solid #99a0ae;
            text-align: center;
            padding: 10px;
        }
    
        tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    </head>
    <header>
        {{!-- <div class="header-nav">
            <a href="/">ADMIN</a>
            <a href="/">trainer</a>
            <a href="/">TRAINER</a>
            <a href="/">TRAINEE</a>

        </div> --}}
    </header>

    <body>
        <div class="top-nav-index">FPT CO.</div>
        <div class="w3-bar" style="background-color:#C02F2F;float:right;">
            <a href="/trainer" class="w3-bar-item w3-button">Home</a>

            <div class="w3-dropdown-hover">
                <button class="w3-button">Course Category</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/trainer/viewCourseCategory" class="w3-bar-item
                        w3-button">View All Course Category</a>
                    <a href="/trainer/addCourseCategory" class="w3-bar-item
                        w3-button">Create A Course Category</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Course</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/trainer/viewCourse" class="w3-bar-item w3-button">View
                        All Course</a>
                    <a href="/trainer/addCourse" class="w3-bar-item w3-button">Create
                        New Course</a>
                    <a href="/trainer/editCourse" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainee</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/trainer/viewTrainee" class="w3-bar-item
                        w3-button">View All Trainee</a>
                    <a href="/trainer/addTrainee" class="w3-bar-item w3-button">Create
                        New Trainee</a>
                    <a href="/trainer/editTrainee" class="w3-bar-item
                        w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Trainer</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/trainer/viewTrainer" class="w3-bar-item
                        w3-button">View All Trainer</a>
                    <a href="/trainer/addTrainer" class="w3-bar-item w3-button">Create
                        New Trainer</a>
                    <a href="#" class="w3-bar-item w3-button">Edit/Update</a>
                </div>
            </div>
            <div class="w3-dropdown-hover">
                <button class="w3-button">trainer</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/trainer/viewtrainer" class="w3-bar-item
                        w3-button">View trainer Account</a>
                    <a href="admin/addtrainer" class="w3-bar-item w3-button">Create
                        New trainer</a>
                    <a href="/trainer/trainerProfile" class="w3-bar-item
                        w3-button">Profile</a>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="info-st">
            Full name: {{trainer.name}} <br>
            <br>
            Username: {{trainer.userName}} <br>
            <br>
            Age: {{trainer.age}} <br>
            <br>
            Phone: {{trainer.phone}} <br>
            <br>
            Email: {{trainer.email}} <br>
            <br>
            Address: {{trainer.address}} <br><br>
            <br>
            Specials: {{trainer.specialty}}<br>
            <br>
            <button style="background-color: red; padding:5px 5px; color:white;
                border: 0.25px white;"> <a href="/trainer/trainerUpdateProfile"
                    style="background-color: red; padding:5px 5px;
                    color:white;">Update</a></div></button>

        <div class="global-footer">
            <div class="region region-global-footer row">
                <div id="block-menu-menu-global-footer-with-logo" class="block
                    block-menu col-md-6 col-lg-3 py-4">

                    <div class="content-footer">
                        <h6> © 2021 FPT CO.</h6>
                        <ul class="menu" style="margin-left: 60px;">
                            <li><a href="/" title="">Contact the University</a></li>
                            <li><a href="/" title="">Accessibility</a></li>
                            <li><a href="/" title="">Freedom of information</a></li>
                            <li><a href="/" title="">Privacy policy & cookies</a></li>
                            <li><a href="/" title="">Terms and conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div id="block-menu-menu-global-footer-study-at-camb"
                    class="block block-menu col-md-6 col-lg-3 py-4">
                    <div class="content-footer">
                        <h6>Study at FPT CO.</h6>
                        <ul class="menu" style="margin-left: 60px;">
                            <li><a href="/" title="">Undergraduate</a></li>
                            <li><a href="/" title="">Postgraduate</a></li>
                            <li><a href="/" title="">Continuing education</a></li>
                            <li><a href="/" title="">Professional education</a></li>
                            <li><a href="/" title="">Courses in education</a></li>
                        </ul>
                    </div>
                </div>
                <div id="block-menu-menu-global-footer-about-uni" class="block
                    block-menu col-md-6 col-lg-3 py-4">


                    <div class="content-footer">
                        <h6>About the University</h6>
                        <ul class="menu" style="margin-left: 60px;">
                            <li><a href="/" title="">How the University work</a></li>
                            <li><a href="/" title="">Give to FPT CO.</a></li>
                            <li><a href="/" title="">Jobs</a></li>
                            <li><a href="/" title="">Maps</a></li>
                            <li><a href="/" title="">Visiting the University</a></li>
                        </ul>
                    </div>
                </div>
                <div id="block-menu-menu-global-footer-research" class="block
                    block-menu col-md-6 col-lg-3 py-4">


                    <div class="content-footer">
                        <h6>Research at FPT CO.</h6>
                        <ul class="menu" style="margin-left: 60px;">
                            <li><a href="/" title="">Research news</a></li>
                            <li><a href="/" title="">About research at FPT CO.</a></li>
                            <li><a href="/" title="">Public engagement</a></li>
                            <li><a href="/" title="">FPT CO A-Z</a></li>
                            <li><a href="/" title="">Spotlight on...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
